body {
  Background-image: url('https://i.pinimg.com/originals/de/1d/df/de1ddf9ee30e08e15460626b919ef87e.jpg');
   background-repeat: repeat;
   background-size: cover;
    font-family: 'Kanit', sans-serif;
  }

    .mainpage {width: 1024px; margin:0 auto;
  }
    
    header 
    {
     background-color: rgb(255, 255, 255);
      color: white;
      height: 70px;
      padding: 10px;
    }

    footer {
     background-color: black;
      color: white;
      height: 50px;
      padding: 10px;
      text-align: center;
    }

    a {
    color: white;
    text-decoration: none;
    }
  
    .headname1 {
     color: brown;
     font-size: 30px;
    }

    .headname2  {
      color: rgb(241, 93, 93);
   }


   .graphic {
    background-image: url("images/hello.jpeg"); 
    height: 320px;
    padding: auto;
   }

   .maps {
    border: 1px solid blue;
    height: 300px ;
   }

   .top10{
    background-color: white;
    padding: 10px;      
  }

  .img10 {
    width: 190px;
    border-radius: 10px;
  }


  .topmenu{
     background-color: brown;
     height: 40px ;
  }

  .topmenu ul{
   list-style: disc;
   margin: auto;
   display: flex;
   justify-content: :left;
  }
  
  .topmenu li{
    float: right;
    padding: 10px 40px ;
  }

  .link10 {
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
Footer
