body {
    background-image: url('https://img.freepik.com/free-vector/winter-background-with-pastel-color-brushes-leaves_220290-42.jpg?t=st=1654035058~exp=1654035658~hmac=fa9b1c55c9d837c2f01d2005505a8494c294af4ea525049102816b547d00abeb&w=1380');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Niramit', cursive;
    font-size: 20px;
  }
  header
  {
    background-color: black;
    color: white;
    height: 70px;
    padding: 10px;
  }

    footer{
      background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    text-align:center;
  }

  .mainpage 
    {
        width:1024px; 
        margin: 0 auto;   }


        .headname{color: rgb(166, 109, 168);}
